.searchContainer ul{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.3rem;
    color: white;
    width: 100%;
    max-height: 13rem;
    height: fit-content;
    margin: 0;
}
.searchContainer ul li{
    cursor: pointer;
    padding: 0.5rem;
    padding-left: 0.8rem;
    margin: 0;
    width: 100%;
    border-radius: 0.4rem;
}
.searchContainer ul li{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}
.searchContainer ul li img{
    height: 1.3vw;
    width: 1.3vw;
}
.searchContainer ul li div{
    font-size: 1.3vw;
}

.searchContainer ul li:hover{
    background-color: black;
}